body {
  background: rgba(0, 0, 0, 0.04);
}

.fl-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.fl-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

/* =============== Page settings =============== */
.page {
  background: #d8d8d8;
  max-width: 1440px;
  margin: 0 auto;
}

/* =============== Header =============== */
.header-cont {
  width: 70%;
  height: 90px;
}

.header-cont .button {
  height: inherit;
  background: #d8d8d8;
  border-left: 1px solid #fff;
  padding-bottom: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header-cont .button:first-child {
  background: #fff;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.header-cont .button:first-child div {
  background: #d8d8d8;
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-cont .button:last-child {
  padding-bottom: 10px;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-right: none;
}

.social {
  background: #ccc;
  margin-right: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* =============== Main section settings =============== */
.main {
  width: 100%;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main, nav {
  height: auto;
  padding-top: 40px;
}

/* =============== Navbar =============== */
nav {
  background: #fff;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

nav .nav {
  background: #d8d8d8;
  height: 200px;
  margin: 0 15px 20px 20px;
}

nav .nav > div {
  background: #8a8a8a;
  height: 30px;
}

/* =============== Story =============== */
main {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  background: #fff;
  border-top-right-radius: 20px;
}

article {
  border-bottom: 3px solid #8a8a8a;
  margin: 0 40px 80px;
}

.title {
  height: 160px;
  background: #4f4f4f;
}

.author, .date {
  height: 40px;
  margin-top: 10px;
}

.author {
  width: 60%;
  background: #d8d8d8;
}

.date {
  width: 100%;
  background: #d8d8d8;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.date div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  height: 20px;
  background: #bbb;
}

.story {
  margin-top: 50px;
}

.text {
  height: 160px;
  background: #8a8a8a;
}

.read-more, .img {
  margin: 20px 0;
}

.img {
  width: 80%;
  height: 370px;
  background: #4f4f4f;
}

.read-more {
  width: 100px;
  height: 40px;
  background: #d8d8d8;
}

/* =============== Aside =============== */
aside {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.search {
  height: 80px;
  background: #d8d8d8;
}

.search > div {
  border-radius: 10px;
  margin: 0 auto;
  width: 80%;
  height: 50px;
  background: #ccc;
}

.add {
  height: 250px;
  background: #d8d8d8;
}

.add:nth-child(even) {
  background: #bbb;
}

@media screen and (max-width: 1019px) {
  .header-cont {
    width: 100%;
  }
  aside {
    display: none;
  }
  nav {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  main {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header-cont {
    width: 40%;
  }
  .header-cont [class*="button"]:not(:first-child) {
    display: none;
  }
}
